# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install lib dependencies
        run: sudo apt -y install r-base libcurl4-openssl-dev libsodium-dev pandoc libssl-dev libssl-dev texlive-latex-base texlive-fonts-recommended texlive-fonts-extra pandoc pandoc-citeproc
      - name: Install package dependencies
        run: |
          options(repos="https://CRAN.R-project.org")
          install.packages(c("remotes", "rcmdcheck", "devtools"))
          devtools::install_deps()
        shell: sudo Rscript {0}
        working-directory: epitweetr
      - name: Check
        run: rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")
        shell: Rscript {0}
        working-directory: epitweetr
