# Workflow derived from https://github.com/posit-dev/setup-air/tree/main/examples
on:
  pull_request:
    branches: [main, master]
  push:
    branches: [main, master, test-ci]

name: check.yml

permissions:
  contents: write

jobs:
    R-CMD-check:
      runs-on: ${{ matrix.config.os }}
  
      name: ${{ matrix.config.os }} (${{ matrix.config.r }})
  
      strategy:
        fail-fast: false
        matrix:
          config:
            - { os: ubuntu-latest, r: "release" }
            - { os: windows-latest, r: "release" }
            - { os: macos-latest, r: "release" }
  
      env:
        R_KEEP_PKG_SOURCE: yes
  
      steps:
        - uses: actions/checkout@v4
  
        - uses: r-lib/actions/setup-pandoc@v2
  
        - uses: quarto-dev/quarto-actions/setup@v2
  
        - uses: r-lib/actions/setup-r@v2
          with:
            r-version: ${{ matrix.config.r }}
            http-user-agent: ${{ matrix.config.http-user-agent }}
            use-public-rspm: true
  
        - uses: r-lib/actions/setup-r-dependencies@v2
          with:
            extra-packages: any::rcmdcheck
            needs: check
  
        - uses: r-lib/actions/check-r-package@v2
          with:
            upload-snapshots: true
            build_args: 'c("--no-manual","--compact-vignettes=gs+qpdf")'
  
